.searchBox {
  margin-top: 32px;
  padding: 24px;
  background-color: rgb(215, 238, 252);
  border-radius: 8px;
}

.searchInput {
  margin-top: 24px;
  border: none;
  outline-color: blue;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  padding: 12px;
}
